In [1]:
#print working directory
pwd

NameError: name 'pwd' is not defined

In [2]:
import pandas as pd

df = pd.read_csv('staff performance.csv')

print(df.to_string())

   staff_id  month  total_payment
0         2      4       14409.10
1         1      4       14150.36
2         1      3       11990.27
3         2      3       11896.29
4         2      2        4211.93
5         1      2        4139.91
6         2      5         296.01
7         1      5         218.17

In [3]:
pwd

'C:\\Users\\Mourin\\OneDrive\\Documents\\git use\\Python'

In [4]:
csv_location = 'C:\Users\Mourin\OneDrive\Documents\git use\project 2\3.Count , min,max,avg,stddev.csv'

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (952939373.py, line 1)

In [5]:
csv_location = 'C:\\Users\\Mourin\\OneDrive\\Documents\\git use\\project 2\\3.Count , min,max,avg,stddev.csv'

In [6]:
df2 = pd.read_csv(csv_location)

In [7]:
df2

,numberofcustomers,average_payment,min_payment,max_payment,standerd_dev_payment
0,7,3.990000,0.99,8.99,2.886751
1,10,3.290000,0.99,6.99,2.162817
2,12,4.156667,0.99,8.99,2.443296
3,13,2.913077,0.99,5.99,2.059998
4,13,5.066923,0.99,10.99,3.094660
...,...,...,...,...,...
594,39,3.836154,0.00,9.99,2.558358
595,39,4.990000,0.99,10.99,2.305600
596,40,4.740000,0.99,9.99,2.529315
597,42,4.966190,0.99,10.99,2.589737
598,45,4.701111,0.99,10.99,2.616575