In [1]:
import pandas as pd

df = pd.read_csv('staff performance.csv')

print(df.to_string())

   staff_id  month  total_payment
0         2      4       14409.10
1         1      4       14150.36
2         1      3       11990.27
3         2      3       11896.29
4         2      2        4211.93
5         1      2        4139.91
6         2      5         296.01
7         1      5         218.17

In [2]:
df['new_column'] = df['month'].apply(lambda x: x*10)

In [3]:
df['new_column']

0    40
1    40
2    30
3    30
4    20
5    20
6    50
7    50
Name: new_column, dtype: int64

In [4]:
print(df.to_string())

   staff_id  month  total_payment  new_column
0         2      4       14409.10          40
1         1      4       14150.36          40
2         1      3       11990.27          30
3         2      3       11896.29          30
4         2      2        4211.93          20
5         1      2        4139.91          20
6         2      5         296.01          50
7         1      5         218.17          50

In [5]:
df['2nd_new_column'] = df['month']*10

In [6]:
print(df.to_string())

   staff_id  month  total_payment  new_column  2nd_new_column
0         2      4       14409.10          40              40
1         1      4       14150.36          40              40
2         1      3       11990.27          30              30
3         2      3       11896.29          30              30
4         2      2        4211.93          20              20
5         1      2        4139.91          20              20
6         2      5         296.01          50              50
7         1      5         218.17          50              50

In [7]:
data = {'price': [100, 200, 150, 300]}
new_df = pd.DataFrame(data)
# Apply a lambda function to calculate discounted price
new_df['new_price'] = new_df['price'].apply(lambda x: x * 0.9)

print(new_df.to_string())

NameError: name 'pd' is not defined

In [6]:
data = {'price': [100, 200, 150, 300],
       'quantity':[5,2,1,3]}
new_df = pd.DataFrame(data)
# Apply a lambda function to calculate discounted price
new_df['new_price'] = new_df['price'].apply(lambda x: x * 0.9)

print(new_df.to_string())

NameError: name 'pd' is not defined

In [2]:
#creating function
def classify_number(number):
    if number < 5:
        return 'small'
    elif number >= 5 and number < 10:
        return 'medium'
    else:
        return 'large'

In [3]:
classify_number(100)

'large'

In [5]:
new_df['quantity_classify'] = new_df['quantity'].apply(classify_number)

NameError: name 'new_df' is not defined