In [1]:
#print working directory
pwd

NameError: name 'pwd' is not defined

In [6]:
import pandas as pd

df = pd.read_csv('staff performance.csv')

print(df.to_string())

   staff_id  month  total_payment
0         2      4       14409.10
1         1      4       14150.36
2         1      3       11990.27
3         2      3       11896.29
4         2      2        4211.93
5         1      2        4139.91
6         2      5         296.01
7         1      5         218.17

In [7]:
import pandas as pd
dff = pd.read_csv('2.Inner Join, right join, left join.csv')

print(dff.to_string())

   customer_id  address_id    country
0          NaN         NaN  Australia
1          NaN         NaN     Canada

In [3]:
pwd

'C:\\Users\\Mourin\\OneDrive\\Documents\\git use\\Python'

In [5]:
csv_location = 'C:\\Users\\Mourin\\OneDrive\\Documents\\git use\\project 2\\3.Count , min,max,avg,stddev.csv'

In [12]:
import pandas as pd
df2 = pd.read_csv(csv_location)

NameError: name 'csv_location' is not defined

In [34]:
import pandas as pd

df = pd.read_csv('staff performance.csv')

print(df.to_string())

   staff_id  month  total_payment
0         2      4       14409.10
1         1      4       14150.36
2         1      3       11990.27
3         2      3       11896.29
4         2      2        4211.93
5         1      2        4139.91
6         2      5         296.01
7         1      5         218.17

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   staff_id       8 non-null      int64
 1   month          8 non-null      int64
 2   total_payment  8 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 324.0 bytes

In [15]:
df.describe()

       staff_id     month  total_payment
count  8.000000  8.000000       8.000000
mean   1.500000  3.500000    7664.005000
std    0.534522  1.195229    6074.087697
min    1.000000  2.000000     218.170000
25%    1.000000  2.750000    3178.935000
50%    1.500000  3.500000    8054.110000
75%    2.000000  4.250000   12530.292500
max    2.000000  5.000000   14409.100000

In [16]:
df.shape

(8, 3)

In [20]:
print(df.loc[1])

staff_id             1.00
month                4.00
total_payment    14150.36
Name: 1, dtype: float64

In [18]:
df.columns

Index(['staff_id', 'month', 'total_payment'], dtype='object')

In [19]:
(df.columns)[2]

'total_payment'

In [25]:
df[(df.columns)[2]].unique

<bound method Series.unique of 0    14409.10
1    14150.36
2    11990.27
3    11896.29
4     4211.93
5     4139.91
6      296.01
7      218.17
Name: total_payment, dtype: float64>

In [26]:
df[(df.columns)[2]].nunique

<bound method IndexOpsMixin.nunique of 0    14409.10
1    14150.36
2    11990.27
3    11896.29
4     4211.93
5     4139.91
6      296.01
7      218.17
Name: total_payment, dtype: float64>

In [33]:
df[(df.columns)[2]].value_counts()

total_payment
14409.10    1
14150.36    1
11990.27    1
11896.29    1
4211.93     1
4139.91     1
296.01      1
218.17      1
Name: count, dtype: int64

In [40]:
(df.groupby('Regime_type')).describe()

KeyError: 'Regime_type'

In [41]:
df['new_column'] = df['month'].apply(lambda argument: expression)

NameError: name 'expression' is not defined