In [1]:
data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
# Define the conditions and corresponding functions/logic
condition1 = df['A'] < 3
function1 = lambda x: x * 2
condition2 = df['A'] >= 3
function2 = lambda x: x + 5
# Apply the functions/logic based on conditions and create the new column
df['C'] = np.where(condition1,function1(df['A']),function2(df['B']))
df

NameError: name 'pd' is not defined