In [1]:
import pandas as pd

df = pd.read_csv('staff performance.csv')

print(df.to_string())

   staff_id  month  total_payment
0         2      4       14409.10
1         1      4       14150.36
2         1      3       11990.27
3         2      3       11896.29
4         2      2        4211.93
5         1      2        4139.91
6         2      5         296.01
7         1      5         218.17

In [2]:
df['new_column'] = df['month'].apply(lambda x: x*10)

In [3]:
df['new_column']

0    40
1    40
2    30
3    30
4    20
5    20
6    50
7    50
Name: new_column, dtype: int64

In [4]:
print(df.to_string())

   staff_id  month  total_payment  new_column
0         2      4       14409.10          40
1         1      4       14150.36          40
2         1      3       11990.27          30
3         2      3       11896.29          30
4         2      2        4211.93          20
5         1      2        4139.91          20
6         2      5         296.01          50
7         1      5         218.17          50

In [5]:
df['2nd_new_column'] = df['month']*10

In [6]:
print(df.to_string())

   staff_id  month  total_payment  new_column  2nd_new_column
0         2      4       14409.10          40              40
1         1      4       14150.36          40              40
2         1      3       11990.27          30              30
3         2      3       11896.29          30              30
4         2      2        4211.93          20              20
5         1      2        4139.91          20              20
6         2      5         296.01          50              50
7         1      5         218.17          50              50

In [9]:
data = {'price': [100, 200, 150, 300]}
new_df = pd.DataFrame(data)
# Apply a lambda function to calculate discounted price
new_df['new_price'] = new_df['price'].apply(lambda x: x * 0.9)

print(new_df.to_string())

   price  new_price
0    100       90.0
1    200      180.0
2    150      135.0
3    300      270.0

In [10]:
data = {'price': [100, 200, 150, 300],
       'quantity':[5,2,1,3]}
new_df = pd.DataFrame(data)
# Apply a lambda function to calculate discounted price
new_df['new_price'] = new_df['price'].apply(lambda x: x * 0.9)

print(new_df.to_string())

   price  quantity  new_price
0    100         5       90.0
1    200         2      180.0
2    150         1      135.0
3    300         3      270.0

In [12]:
#creating function
def classify_number(number):
    if number < 5:
        return 'small'
    elif number >= 5 and number < 10:
        return 'medium'
    else:
        return 'large'

In [13]:
new_df['quantity_classify'] = new_df['quantity'].apply(classify_number)

In [14]:
print(new_df.to_string())

   price  quantity  new_price quantity_classify
0    100         5       90.0            medium
1    200         2      180.0             small
2    150         1      135.0             small
3    300         3      270.0             small

In [15]:
new_df

   price  quantity  new_price quantity_classify
0    100         5       90.0            medium
1    200         2      180.0             small
2    150         1      135.0             small
3    300         3      270.0             small

In [ ]:
#missed lower upper in number function

In [ ]:
#Creating a new column based on a condition (one column) ----numpy lib

It is veto incorporate without numpyry hard to carry out operation on multiple columns without the NumPy library. Using stuff like lamda it can be tough

In [19]:
import numpy as np

data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df4 = pd.DataFrame(data)

condition1 = df4['A'] < 3
function1 = lambda x: x * 2
condition2 = df4['A'] >= 3
function2 = lambda x: x + 5

df4['C'] = np.where(condition1, function1(df4['B']), function2(df4['B']))

print(df4)

   A   B   C
0  1  10  20
1  2  20  40
2  3  30  35
3  4  40  45
4  5  50  55

In [ ]:
#see pic

data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df4 = pd.DataFrame(data)

condition1 = df4['A'] < 3
function1 = lambda x: x * 2
condition2 = df4['A'] >= 3
function2 = lambda x: x + 5

df4['C'] = np.where(condition1, function1(df4['B']), function2(df4['B']))

print(df4)

In [20]:
data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
# Define the conditions and corresponding functions/logic
condition1 = df['A'] < 3
function1 = lambda x: x * 2
condition2 = df['A'] >= 3
function2 = lambda x: x + 5
# Apply the functions/logic based on conditions and create the new column
df['C'] = np.where(condition1,function1(df['A']),function2(df['B']))

In [22]:
print(df)

   A   B   C
0  1  10   2
1  2  20   4
2  3  30  35
3  4  40  45
4  5  50  55

In [21]:
type(df.iloc[1][1])

numpy.int64

In [23]:
type(df.iloc[0][1])

numpy.int64

In [ ]:
#after 12pm

In [24]:
import pandas as pd

data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Define the lambda function to operate on multiple columns
function = lambda row: row['A'] * 2 + row['B']

# Apply the lambda function to create the new column
df['C'] = df.apply(function, axis=1)

# Display the updated DataFrame
print(df)

   A   B   C
0  1  10  12
1  2  20  24
2  3  30  36
3  4  40  48
4  5  50  60