In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df1 = pd.read_csv("movie description.csv")

In [2]:
df1

,film_id,title,description
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...
1,384,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...
2,8,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...
3,98,Bright Encounters,A Fateful Yarn of a Lumberjack And a Feminist ...
4,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...
...,...,...,...
995,996,Young Language,A Unbelieveable Yarn of a Boat And a Database ...
996,997,Youth Kick,A Touching Drama of a Teacher And a Cat who mu...
997,998,Zhivago Core,A Fateful Yarn of a Composer And a Man who mus...
998,999,Zoolander Fiction,A Fateful Reflection of a Waitress And a Boat ...
999,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...

In [3]:
def sentiment_detection(sentence):
  positive = False
  negative = False
  for i in ('Fateful', 'Epic', 'Touching', 'Intrepid', 'Thoughtful', 'Action-Packed','Lacklusture '):
    if sentence.count(i) > 0:
      positive = True
  for i in ('Lacklusture', 'terrible', 'Boring', 'Taut', 'kill'):
    if sentence.count(i) > 0:
      negative = True
  if positive == negative == False:
    return "neutral"
  elif positive == True != negative:
    return "positive"
  elif negative == True != positive:
    return 'negative'
  else:
    return "mixed"

In [4]:
df1['Classified As'] = df1['description'].apply(lambda x: sentiment_detection(x))
df1

,film_id,title,description,Classified As
0,133,Chamber Italian,A Fateful Reflection of a Moose And a Husband ...,positive
1,384,Grosse Wonderful,A Epic Drama of a Cat And a Explorer who must ...,positive
2,8,Airport Pollock,A Epic Tale of a Moose And a Girl who must Con...,positive
3,98,Bright Encounters,A Fateful Yarn of a Lumberjack And a Feminist ...,positive
4,1,Academy Dinosaur,A Epic Drama of a Feminist And a Mad Scientist...,positive
...,...,...,...,...
995,996,Young Language,A Unbelieveable Yarn of a Boat And a Database ...,neutral
996,997,Youth Kick,A Touching Drama of a Teacher And a Cat who mu...,positive
997,998,Zhivago Core,A Fateful Yarn of a Composer And a Man who mus...,positive
998,999,Zoolander Fiction,A Fateful Reflection of a Waitress And a Boat ...,positive
999,1000,Zorro Ark,A Intrepid Panorama of a Mad Scientist And a B...,positive